@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0; padding: 0; font-family: poppins;}

.head-container{
    width: 1160px;
    margin: 0 auto;
}

.container{
    width: 1050px;
    margin: 82px auto;
}

p{
    color: #6C6C6C;
}
/* --------------
   Header start
--------------- */


#header{
    background-color:  #2D25A0;
    color: white;
}

/*-----------------------
 Navigation bar start
----------------------- */

.navBar{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;

    height: 44px;

}

.menuItem{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 587px;
    height: 24px;
}

.login{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 123px;
    background-color: #E02C6D;
}

/*----------------------
Navigation bar end
--------------------- */

/* --------------
 Head info start
 -------------- */

 .headInfo{
     display: flex;
     justify-content: space-between;
     padding: 60px 0px;
 }

 .title{
     width: 475px;
     height: 230px;
     line-height: 80px;
 }

 .title h1{
     font-size: 64px;
     font-weight: 700;
 }

 .banner{
     width: 456px;
 }

 .banner img{
     width: 100%;
 }


 /* --------------
  Head info end
  -------------- */

  /* ------------
    Header end
--------------- */

/* ----------------
  Player section start
  ----------------- */

  .players{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      justify-content: center;
  }

.player{
    width: 330px;
    height: 470px;
    box-shadow: 0 0 20px #d6d6d6;
    box-sizing: border-box;
    padding: 15px;
}

.player img{
    width: 100%;
}

.player h3{
    font-size: 28px;
    margin: 12px 0px;
}

/* ----------------
  Player section end
  ----------------- */

  /* -------------------
    Highlights section start
    -------------------- */

.highlightInfo{
    display: flex;

}

.highlightInfo div{
    width: 50%;
}

.highlight h2{
    font-size: 48px;
    line-height: 60px;
    margin-top: 50px;
}

.highlightImage img{
    width: 100%;
}


  /* -------------------
    Highlights section end
    -------------------- */

/* ===================
   footer section start
======================= */

/* .footer{
    width: 485px;
    margin: o auto;
} */

.footer{
    width: 484px;
    margin: 0 auto;
}
.footer img{
    width: 100%;
}

.icons ul{
    display: flex;
    list-style: none;
    width: 170px;
    justify-content: space-between;
    margin: 0 auto 20px;

}

.icons li{
    width: 30px;
    height: 30px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: gray;
}

.footer span{
    display: block;
    width: 210px;
    margin: 0 auto;
}

/* ===================
   footer section end
======================= */